/*Criar uma fonte, usar o keyframe (animação), deixar responsivo*/
/*cores: azul #30A0F9; verde #719B39; roxo #746EAF; vermelho #ED3237; preto #3E3E3E*/

/*Declaração das fontes*/
@font-face { 
    font-family: "AlmondNougat";
    src: url(../font/AlmondNougat.woff);
}
@font-face { 
    font-family: "BrighlyCrush-Shine";
    src: url(../font/BrighlyCrush-Shine.woff);
}
@font-face { 
    font-family: "DearSunshine";
    src: url(../font/DearSunshine.woff);
}
@font-face { 
    font-family: "LittleQueen-Regular";
    src: url(../font/LittleQueen-Regular.woff);
}

/*--------Reset---------*/
*{
    padding: 0;
    margin: 0;
}

/*----------------Navegação---------------*/

.social_media{
    margin-top: 1rem;
    display: flex;
    
}
.social_media a {
    text-decoration: none;
    color: #1e1e2a;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
.social_media a:hover{
    background-color: #ffffff;
}
.checkbox_container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    transition: 400ms ease-in-out 0s;
}
.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color: #1e1e2a;
    position: absolute;
    border-radius: 4px;
    transition: .5s ease-in-out;
}
.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}
#toggle{
    display: none;
}
.menu{
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 700ms ease-in-out 0s;
}
.menu_itens{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}
.menu_itens ul{
    list-style-type: none;
}
.menu_itens ul li a{
    text-decoration: none;
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none; 
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    transition: 0.6s;
}
.menu_itens ul li a:hover{
    color: #595f6e;
}
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}
#toggle:checked + .checkbox .trace:nth-child(2){
    transform:  translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}
#toggle:checked{
    background-color: #ffffff;
}
#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}
#toggle:checked ~ .menu_itens{
    visibility: visible;
    opacity: 1;
}

/*----------Conteudos Repetidos------------*/
#all img:not(.ball){
    width: 500px;
    margin-bottom: 50px;
}
.container{
    margin: auto;
    border-radius: 32px;
    position: absolute;
    right: 9%;
    backdrop-filter: blur(30px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.342);
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s *var(--1));
}
#cadastro button{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #222;
    background-color: transparent;
}

#cadastro .img2{
    position: absolute;
    left: -20px;
}
#cadastro .img1{
    position: absolute;
    top: -80px;
    left: 180px;
}
.center{
    text-align: center;
}


/*Splash screen*/
.intro{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #222;
    transition: 1s;
}
.logo-intro{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.text{
    color: #ffffff;
}
.pokeball{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.pokeball.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.pokeball.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/*----------Inicio Header-------*/
#header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
    background: linear-gradient(to top right,#ffffff 49%, #222 49% 50%, #ED3237 50%);
}
#content_header{
    width: 300px;
    border-radius: 12px;
    padding: 30px 0px;
}
#content_header h1{
    color: #222;
}

/*------------Inicio Content-1-------------*/
.content_1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.content_1 h2{
    text-align: center;
    font-family: "DearSunshine";
    font-size: 64px;
}
.content_1 p{
    font-family: "AlmondNougat";
    font-size: 20px;
}

.content_1 button{
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    transition: .6s;
}

.content_1 button:hover{
    cursor: pointer;
    background-color: #ED3237;
    color: #ffffff;
    border: none;
}

/*---------------Inicio content-2----------------------*/

#content_2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#content_2 h2{
    text-align: center;
    font-family: "DearSunshine";
    font-size: 64px;
}
#content_2 p{
    font-family: "AlmondNougat";
    font-size: 20px;
}
#content_2 button{
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    transition: .6s;
}
#content_2 button:hover{
    cursor: pointer;
    background-color: #ED3237;
    color: #ffffff;
    border: none;
}

/*---------------------Inicio Content-3------------------------------*/
#content_3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#content_3 h2{
    text-align: center;
    font-family: "DearSunshine";
    font-size: 64px;
}
#content_3 p{
    font-family: "AlmondNougat";
    font-size: 20px;
}
#content_3 button{
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    transition: .6s;
}
#content_3 button:hover{
    cursor: pointer;
    background-color: #ED3237;
    color: #ffffff;
    border: none;
}


/*---------------inicio cadastro--------------------*/

#cadastro{
    background-image: url(../img/water.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#cadastro .container{
    margin-top: 20px;
    padding: 75px 40px 40px 40px;
}

/*--------------------Inicio login--------------------------*/

#login{
    background-image: url(../img/grama.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#login .container{
    margin-top: 80px;
    padding: 50px;
}
.title_log{
    text-transform: uppercase;
    position: absolute;
    top: -50px;
    right: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    border: 2px solid #719B39;
    background: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.btn1{
    color: rgb(3, 71, 40);
}

.btn1:hover{
color: #fff;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #719B39;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before{
    height: 180%;
}


form h2{
    font-family: "DearSunshine";
    font-size: 40px;
    margin-left: 25px;
    
}

.title_log2{
    text-transform: uppercase;
    position: absolute;
    display: inline-block;   
}
.title_log2 h2{
    font-size: 60px;
    font-family: "DearSunshine";
    margin-left: 20px;
    margin-top: 15px;
    float: right;
}

/*------------Inicio ginasio----------------*/
#ginasio{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   /* background-image: url(../img/nascer.jpg);*/
    height: 100vh;
}
.caixa1{
    background-image: url(../img/bg_pokepurple.PNG);  
}
.caixa2{
    background-image: url(../img/bg_pokeblue.PNG);
}
.caixa3{
    background-image: url(../img/bg_pokeverde.PNG);
}
.caixa4{
    background-image: url(../img/bg_pokedark.PNG);
}
.caixa1, .caixa2, .caixa3,.caixa4{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    position: relative;
    height: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

form{
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
}
#form_log{
    position: relative;
    top: 25%;
}
.form2{
    
    width: 80%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 20px 0px;
}
.form2 input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}
.form2 label{
    position: absolute;
    bottom: -6px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #222;
}
.form2 label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #30A0F9;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name2{
    opacity: 0.6;
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form2 input:focus + .label-name2 .content-name2,
.form2 input:valid + .label-name2 .content-name2{
    transform: translateY(-80%);
    opacity: 1;
    font-size: 14px;
    color: #30A0F9;
}
.form2 input:focus + .label-name2::after, .form2 input:valid + .label-name2::after{
    transform: translateY(0%);
}

.form{ 
    width: 80%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 30px 0px 30px 30px;
}
.form input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}
.form label{
    position: absolute;
    bottom: -6px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #222;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #719B39;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
transform: translateY(-80%);
font-size: 14px;
color: #719B39;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after{
transform: translateY(0%);
}

footer{
    height: 50px;
    color: #fff;
    background: #222;
    text-align: center;
}

.social_media{
    float: right;
}


/* * Responsividade */

@media (max-width: 575.98px){

    #content_header h1{
        display: none;
    }
    .redirect{
        display: flex;
        flex-direction: column;
    }
    
}
/* small*/
@media (min-width: 575px) and (max-width: 767.98px){
   
}
/*Medium*/
@media (min-width: 768px) and (max-width: 991.98px){
   
}
/*Large*/
@media (min-width: 992px) and (max-width: 1199.98px){

    #all img:not(.ball){
        width: 390px;
        margin-bottom: 50px;
    }

     .container{
        padding: 20px 50px;
        width: 80%;
        margin: auto;
        border-radius: 32px;
        position: absolute;
        left: 9%;
        backdrop-filter: blur(30px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.342);
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s *var(--1));
    }
    .content_1{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    
    .content_1 h2{
        text-align: center;
        font-family: "DearSunshine";
        font-size: 50px;
    }
    .content_1 p{
        font-family: "AlmondNougat";
        font-size: 16px;
    }
    
    .content_1 button{
        background-color: transparent;
        border: 2px solid #222;
        border-radius: 8px;
        width: 150px;
        height: 50px;
        transition: .6s;
    }
    
    .content_1 button:hover{
        cursor: pointer;
        background-color: #ED3237;
        color: #ffffff;
        border: none;
    }
    
}
/*Extra large*/
@media (min-width: 1200px){

    .container{
        margin: auto;
        border-radius: 32px;
        position: absolute;
        left: 9%;
        backdrop-filter: blur(30px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.342);
        animation: animate 10s linear infinite;
        animation-delay: calc(-1s *var(--1));
    }
    
}
